﻿.heading {
    font-size: 5.0vw;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

body {
    background: #000;
    color: #FFF;
    font: 1em Arial, San-Serif;
}

.tag-cloud {
    padding: 100px;
    text-align: center;
}

.tag {
    display: inline-block;
    line-height: .75em;
    margin: 0 .2em;
    vertical-align: middle;
}

.tag.kind-0 {
    color: #E4BB37;
    font-size: 5.0vw;
    text-transform: lowercase;
}

.tag.kind-1 {
    color: #E68D3A;
    font-size: 3vw;
}

.tag.kind-2 {
    color: #CA5C00;
    font-size: 2.5vw;
}

.tag.kind-3 {
    color: #38879C;
    font-size: 2.25vw;
}

.tag.kind-4 {
    color: #003F6E;
    font-size: 2vw;
}

.tag.kind-5 {
    color: #DDD;
    font-size: 1.75vw;
}

.tag.kind-6 {
    color: #E4BB37;
    font-size: 1.5vw;
}

.tag.kind-7 {
    color: #38879C;
    font-size: 1.25vw;
}

.tag.kind-8 {
    color: #CA5C00;
    font-size: 1vw;
}

.tag.kind-9 {
    color: #E5E5E5;
    font-size: .8vw;
}