﻿@model WebPageWordCount.Models.WebPageViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="display-1 heading">Word page word count</div>
        <hr/>

        <div class="form-group row">
            @Html.LabelFor(model => model.Url, new {@class = "col-form-label col-md-2"})
            <div class="col-md-8">
                @Html.EditorFor(model => model.Url, new {htmlAttributes = new {@class = "form-control", placeholder = "Url"}})
                @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-2">
                <input type="submit" value="Get Word Cloud" class="btn btn-primary btn-lg"/>
            </div>
        </div>

        @*@Html.HiddenFor(model => model.Words)*@
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="tag-cloud">
            @if (Model.Tags != null)
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="tag kind-@tag.Category">@tag.Text</span>
                }
            }

        </div>
    </div>
}